@font-face {
    font-family: "texte";
    src: url(font/BBBManifontGrotesk-Book.otf);
    font-weight: normal;
    font-style: normal;

}
@font-face{
    font-family: "titre2";
    src: url(font/Hershey-Peignot-Bold.otf);
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #ff00a1;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.texte{
    position: relative;
    grid-column: 2/2;
   
    height: 80vh;
    margin-right: 30px;
    margin-top: 90px;
    margin-left: 90px;
    
}

.texte p{
    font-family: "texte";
    text-align: right; /* Aligner le texte à droite */
    color: white;
    margin-top: 10px;
    

}

h1{
    grid-column: 2/2;
    font-family: "titre2";
    background-color: #00ff12;
    color: #ff00a1;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 80px;
    margin-top: 10px;
    line-height: 65px;
}
h3{
    font-family: "texte";
    color: white;
    font-size: smaller;
    text-align: right;
    font-style: italic;
    
}
h2{
    font-family: "titre2";
    text-align: right;
    font-size: 30pt;
    color: #00ff12;
    margin: 0;
}
.images-projet {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Place l'image en haut */
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    
}

.images-projet img {
    width: 100%; /* Adapter à la largeur de la colonne */
    height: auto; /* Conserver les proportions */
    object-fit: cover; /* Ajuster sans déformation */
    top: 0px;
}
.images-projet-line{
    display: flex;
    flex-direction: row;
    width: 50%;
}


#photonarrativestxt{
    width: 700px;
    position: fixed;
    right: 0;
    margin-left: 30px;
}

video {
    width: 100%;
    height: auto;
    object-fit: contain;
    
    margin: 0px
}

header {
    
    top: 0px;
    right: 10px;
    text-align: right;
    display: inline-block;
    
    
   
    height: 131px;
    position: fixed;
    
    
    z-index: 1000;
}
#home-button{
    position: fixed;
    width: 100px;
    height: auto;
    top: 87%;
    right: 10px;
    z-index: 1001;
}
#home-button:hover{
    width: 110px;
    height: auto;
}
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    width: 80%;
   
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySlides img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5); /* Ajoute un fond semi-transparent */
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


  
  /* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
  
.mySlides {
    display: none;
  }
  
.cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */

  
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
img {
    margin-bottom: -4px;
  }
  
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
.demo {
    opacity: 0.6;
  }
  
.active,
.demo:hover {
    opacity: 1;
  }
  
img.hover-shadow {
    transition: 0.3s;
  }
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }  
#manproposes{
    width: 600px;
    height: auto;
    margin-top: 5px;
}
#saturne{
    width: 150px;
    height: auto;
    margin-top: 5px;
    display: inline-block;
    
}
figcaption{
    text-align: right;
    font-family: "texte";
    font-size: 9pt;
    color:#00ff12;
    margin-top: 20px;
}
figure{
    margin: 0;
    margin-left: 50px;
    text-align: right;
    float: right;
}
#figureleft{
    text-align: left;
    float: left;
    margin: 0;
}
#petitecaptionleft{
    text-align: left;
    width: 300px;
}
#petitecaption{
    width: 300px;
}
#kid-and-the-camera{
    width: 250px;
    height: auto;
    margin-top: 5px;
    display: inline-block;
    
}
#cursed-image{
    width: 300px;
    height: auto;
    margin-top: 5px;
}
#tim-walker{
    width: 400px;
    height: auto;
}
#carte-mentale {
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: left;
    
}
